@using BugTracker.Utilities
@using Microsoft.AspNet.Identity

@{
	var userHelper = new Userhelper();
}


<div class="user-panel mt-3 pb-3 mb-3 d-flex">
	<div class="image">
		<img src="@userHelper.GetAvatarPath(User.Identity.GetUserId())" class="img-circle elevation-2" alt="User Image">
	</div>
	<div class="info">
		<a href="@Url.Action("Manage", "Accounts")" class="d-block">@userHelper.GetFullName(User.Identity.GetUserId())</a>
	</div>

</div>
