

@model BugTracker.Models.ForgotPasswordViewModel
@{
	ViewBag.Title = "Forgot your password?";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h5>Please check your email to reset your password.</h5>
